# Variables d'environnement (très important !)
notebook/.env

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Fichiers OS
.DS_Store
Thumbs.db

# Logs et bases temporaires
*.log
*.sqlite3